.all-event-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.event-list {
  margin-top: 25px;
  background-color: #8da5b1;
  border-radius: 10px;
}

.event-list-content {
  background-color: white;
  margin: 25px;
  padding: 25px;
}

.event-list-title {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.event-preview {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.eventDataContainer {
  background-color: #8da5b1;
  width: 300px;
  border-radius: 10px;
  padding: 25px;
  list-style-type: none;
  margin: 25px;
}

.eventDataDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.eventDataPhoto {
  width: 300px;
}

.eventDataTitle {
  padding: 0 20px;
  margin: 10px 0 5px;
  font-size: 16pt;
  color: #1b4b63;
}

.eventDataDescription {
  padding: 0 20px;
  margin: 5px 0 10px;
}

.eventDataInterval {
  padding: 0 20px;
  margin-bottom: 15px;
  margin-block-start: 0;
}

.event-data-add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
