/* HOME LIST AT /HOMES */

.homeList {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.homeListItem, .homeDataContainer {
  background-color: #8da5b1;
  border-radius: 10px;
  padding: 25px;
  list-style-type: none;
  margin: 25px;
}

.homeDataDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.home-data-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeDataPhoto {
  width: 300px;
}

.homeDataAddress1, .homeDataTitle {
  padding: 0 20px;
  margin: 10px 0 5px;
  font-size: 16pt;
  color: #1b4b63;
}

.homeDataAddress2, .homeDataSize, .homeDataYear {
  padding: 0 20px;
  margin: 0;
}

.homeDataYear {
  margin-bottom: 20px;
  flex-grow: 1;
}

.homeListAddButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeListAddButton button {
  margin: 25px 0;
}

/* HOME BOOKINGS AT /HOMES/:ID */


.homeChangeButtonsDiv {
  background-color: white;
  display:flex;
  align-items: flex-end;
  justify-content: center;

}

.homeChangeButtonsDiv button {
  display: flex;
  margin: 0 5px 15px;
  align-items: center;
}

.homeDataBooking {
  padding: 0 20px;
  margin: 0 0 15px;
}
