
.homeDataDiv {
  width: 400px;
  margin-bottom: 50px;
}

.homeDataPhoto {
  width: 300px;
}

.homeDataAddress1 {
  font-size: 18pt;
  color: red;
}

/* .homeDataAddress2 {
} */

/* .homeDataSize {
} */

/* .homeDataYear {
} */
